@import url("https://fonts.googleapis.com/css?family=Lato:400,700,600|PT+Sans:400,700");

:root{
  --madison: rgba(20, 4, 91, 1);
  --royal: rgba(46, 106, 236, 1);
  --east: rgba(67, 85, 124, 1);
  --gray: rgba(161, 170, 189, 1);
  --gallery: rgba(238, 238, 238, 1);

  --m: 7px;
  --l: 8px;
  --xl: 13px;
  --xxl: 16px;
  --xxxl: 24px;
  --xxxxl: 28px;
  --xxxxxl: 48px;
}


*{
  margin: 0 auto;
}
body{
  background-color: #aaa;
  min-height: 1200px;
}

header{
  background-color: white;
  display: flex;
  height: 50px;
  width: 360px;
  display: flex;
  flex-direction: column;
}

nav{
  height: 50px;
  width: 360px;
  background-color: var(--madison);
  position: fixed;
  top: calc(100% - 50px);
  left: calc(50% - 180px);
  display: flex;
  flex-direction: column;
}

#nav{
  margin-top: 5px;
  margin-bottom: 5px;
  display: block;
  width: 40px;
  height: 40px;
}

#nav:hover, .buttons:hover{
  opacity: 50%;
  transition: 500ms;
}

#list{
  list-style-type: none;
  text-decoration: none;
  width: 320px;
  height: 110px;
  background-color: white;
  border: 1px solid var(--madison);
  position: fixed;
  top: calc(100% - 160px);
  left: calc(50% - 180px);
  display: none;
}

ul > a > li{
  text-decoration: none;
  color: var(--madison);
  font-family: "Lato", bold;
  font-size: 23px;
  text-align: center;
  margin-right: 40px;
}

#list:target {
  list-style-type: none;
  text-decoration: none;
  width: 320px;
  height: 110px;
  background-color: white;
  border: 1px solid var(--madison);
  position: fixed;
  top: calc(100% - 160px);
  left: calc(50% - 180px);
  display: block;
}

#link{
  list-style-type: none;
  text-decoration: none;
  color: white;
}

#v1{
  width: 360px;
  height: 240px;
}

#landing{
  width: 360px;
  height: 240px;
}

.motto{
  color: white;
  position: absolute;
  top: 125px;
  left: 50%;
  font-family: "Lato", bold;
  text-align: center;
  font-size: 13px;
  width: 142px;
  height: 30px;
}

#see{
  width: 142px;
  height: 30px;
  position: absolute;
  top: 195px;
  left: 50%;
  line-height: 30px;
}

.but{
  color: white;
  font-family: "PT Sans", bold;
  font-size: 11px;
  text-align: center;
  border-radius: 6px;
  background-color: var(--royal);
  display: block;
}

.buthow{
  width: 100px;
  height: 20px;
  line-height: 20px;
  color: white;
  font-family: "PT Sans", bold;
  font-size: 11px;
  text-align: center;
  border-radius: 6px;
  background-color: var(--royal);
  display: block;
  margin-top: 7.5px;
}


.photos{
  width: 300px;
  height: 200px;
  margin: 30px;
}

#how{
  background-color: white;
  width: 360px;
  min-height: 600px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.sechead{
  width: 100%;
  height: 25px;
  font-family: "Lato", bold;
  font-size: 23px;
  color: var(--madison);
  padding-top: 25px;
  text-align: center;
}

.about{
  font-family: "Lato", bold;
  font-size: 17px;
  color: var(--madison);
  text-align: center;
  padding-bottom: 7.5px;
}

.desc{
  color: var(--madison);
  font-size: 13px;
  text-align: center;
  font-family: "PT Sans", bold;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
}

#testim{
  min-height: 500px;
  background-color: var(--royal);
  width: 360px;
  display: flex;
  flex-direction: column;
}

.testguy{
  background-color: white;
  width: 300px;
  height: 100px;
  border-radius: 10px;
  margin-top: 25px;
  padding-right: 15px;
}

.pics{
  margin: 15px;
  border-radius: 10px;
  float: left;
  width: 70px;
  height: 70px;
}

.recom{
  color: var(--madison);
  font-size: 13px;
  font-family: "Lato", bold;
  padding-top: 15px;
}

span{
  font-size: 17px;
}

.partners{
 margin: 0 auto;
 width: 300px;
 height: 75px;
}

.brands{
  float: left;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 80px;
  height: 16px;
}

#app{
  background-color: white;
  width: 360px;
  height: 110px;
  padding-bottom: 30px;
}

.install{
  float: left;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 10px;
  margin-right: 15px;
  padding-left: 15px;
  width: 132px;
  height: 38px;
}

footer{
  width: 360px;
  height: 150px;
  background-color: var(--madison);
  clear: both;
  font-family: "Lato", bold;
}

.part{
  width: 150px;
  height: 100px;
  color: white;
  float: left;
  text-align: center;
  font-size: 13px;
  padding: 15px;
}

.icon{
  width: 30px;
  height: 30px;
}

.space{
  margin: 10px 0;
}

.aa{
  margin-bottom: 30px;
  text-align: center;
  color: white;
}
/*
@media (min-width: 960px) {
  header{
    background-color: white;
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  nav{
    height: 50px;
    width: 100%;
    background-color: var(--madison);
    position: fixed;
    top: calc(100% - 50px);
    display: flex;
    flex-direction: column;
  }

  #nav{
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
  }

  #nav:hover{
    opacity: 50%;
    transition: 500ms;
  }

  #landing{
    width: 100%;
    min-height: 240px;
  }

  .motto{
    color: white;
    position: absolute;
    top: 125px;
    left: 50%;
    font-family: "Lato", bold;
    text-align: center;
    font-size: 13px;
    width: 142px;
    height: 30px;
  }

  #see{
    width: 142px;
    height: 30px;
    position: absolute;
    top: 195px;
    left: 50%;
    line-height: 30px;
  }

  .but{
    color: white;
    font-family: "PT Sans", bold;
    font-size: 11px;
    text-align: center;
    border-radius: 6px;
    background-color: var(--royal);
    display: block;
  }

  .buthow{
    width: 100px;
    height: 20px;
    line-height: 20px;
    color: white;
    font-family: "PT Sans", bold;
    font-size: 11px;
    text-align: center;
    border-radius: 6px;
    background-color: var(--royal);
    display: block;
    margin-top: 7.5px;
  }


  .photos{
    width: 300px;
    height: 200px;
    margin: 30px;
  }

  #how{
    background-color: white;
    width: 100%;
    min-height: 600px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
  }

  .sechead{
    width: 100%;
    height: 25px;
    font-family: "Lato", bold;
    font-size: 23px;
    color: var(--madison);
    padding-top: 25px;
    text-align: center;
  }

  .about{
    font-family: "Lato", bold;
    font-size: 17px;
    color: var(--madison);
    text-align: center;
    padding-bottom: 7.5px;
  }

  .desc{
    color: var(--madison);
    font-size: 13px;
    text-align: center;
    font-family: "PT Sans", bold;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
  }

  #testim{
    min-height: 500px;
    background-color: var(--royal);
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .testguy{
    background-color: white;
    width: 300px;
    height: 100px;
    border-radius: 10px;
    margin-top: 25px;
    padding-right: 15px;
  }

  .pics{
    margin: 15px;
    border-radius: 10px;
    float: left;
  }

  .recom{
    color: var(--madison);
    font-size: 13px;
    font-family: "Lato", bold;
    padding-top: 15px;
  }

  span{
    font-size: 17px;
  }

  .partners{
   margin: 0 auto;
   width: 300px;
   height: 75px;
  }

  .brands{
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  #app{
    background-color: white;
    width: 100%;
    height: 110px;
    padding-bottom: 30px;
  }

  .install{
    float: left;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 10px;
    margin-right: 15px;
    padding-left: 15px;
  }

  footer{
    width: 100%;
    height: 150px;
    background-color: var(--madison);
    clear: both;
    font-family: "Lato", bold;
  }

  .part{
    width: 150px;
    height: 100px;
    color: white;
    float: left;
    text-align: center;
    font-size: 13px;
    padding: 15px;
  }

  .space{
    margin: 10px 0;
  }

  .aa{
    margin-bottom: 30px;
    text-align: center;
    color: white;
  }
}
*/
